<h3>Ceremony</h3>
<div class='row'>
  <%= image_tag "holy-family-interior.jpg", {class: 'col-md-4', alt: 'Holy Family'} %>
  <div class='col-md-4 contentBg'>
    <p>Krista and Jeff both grew up Catholic, and remain practicing Catholics. Krista and Jeff will be wed at Holy Family Catholic Church in Chicago, Illinois.</p>

    <p><a href='http://www.holyfamilychicago.org/' target="_blank">http://www.holyfamilychicago.org/</a><br />
    1080 W Roosevelt Road, Chicago, IL 60608<br />
    The wedding ceremony will begin promptly at 5pm.
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2971.1897266184246!2d-87.6550294!3d41.867264299999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ce3226191d5%3A0x3038c82ea9553852!2s1080+W+Roosevelt+Rd%2C+Chicago%2C+IL+60607!5e0!3m2!1sen!2sus!4v1391061571888" width="100%" height="195" frameborder="0" style="border:0"></iframe>
  </div>
  <%= image_tag "holy-family-exterior.jpg", {class: 'col-md-4', alt: 'Holy Family'} %>
</div>
  
<h3>Reception</h3>
  <div class='row'>
    <div class='col-md-7 contentBg'>
      <p>The reception will be held immediately following at the Millennium Knickerbocker Hotel, one of Chicago's oldest and most beautiful hotels. The Knickerbocker originally opened its doors in 1927 as the Davis Hotel. Allegedly, Al Capone's brother Ralph really ran a speakeasy and casino on the 14th floor.</p>

      <p>The reception will be in the Crystal Ballroom, which features a balcony, 28 foot golden gilded ceilings, and the world's largest glass illuminated dance floor; so be sure to bring your dancing shoes!</p>

      <p>The Millennium Knickerbocker<br />
      <a href='http://www.millenniumhotels.com/usa/millenniumchicago/' target="_blank">http://www.millenniumhotels.com/usa/millenniumchicago/</a><br />
      163 E Walton Place, Chicago, IL 60611</p>

      <%= image_tag "Knickerbocker-entrace.jpg", {alt: 'Knickerbocker Enterence'} %>
    </div>

    <div class='col-md-5'>
      <%= image_tag "Knickerbocker-ballroom.jpg", {alt: 'Knickerbocker Ballroom'} %><br />

      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2969.6672921136797!2d-87.6231385!3d41.90001185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3541def3385%3A0x2487fb62e4ed31dd!2s163+E+Walton+Pl%2C+Chicago%2C+IL+60611!5e0!3m2!1sen!2sus!4v1391061689207" width="100%" height="225" frameborder="0" style="border:0"></iframe>
    </div>
  </div>
</div>

<h3>Bridal Birthday Brunch</h3>
<div class='row'>
  <%= image_tag "james_ext.jpg", {class: 'col-md-4', alt: 'The James'} %>
  <div class='col-md-4 contentBg'>
    <p>Why should we stop celebrating? The day after the wedding is Jeff's birthday! The post wedding birthday brunch will be held at The James Hotel Chicago from 11am - 1pm on Saturday, September 13. The event will be on the second floor in the Dining Room. The brunch will include a buffet style breakfast catered by David Burke's Primehouse.<br />All wedding guests are welcome to join us, please RSVP to Krista or Jeff by Monday, September 8.<br /><br />The James Hotel Chicago<br /><a href='http://www.jameshotels.com/chicago'>http://www.jameshotels.com/chicago</a><br />55 E Ontario St, Chicago, IL 60611</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2969.9868450531094!2d-87.62568499999999!3d41.893139999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cacfbc82d9f%3A0x97a056fa2f33d060!2sThe+James+Chicago!5e0!3m2!1sen!2sus!4v1405475759038" width="100%" height="195" frameborder="0" style="border:0"></iframe>
  </div>
  <%= image_tag "james_dining.jpg", {class: 'col-md-4', alt: 'The James'} %>
</div>
