<h3>How We Met</h3>
<div class='contentBg'>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "jeffandkrista3.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista5.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista7.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista9.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista11.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista13.jpg", {alt: 'Krista &amp; Jeff'} %>
    </div>
    <div class="col-md-6">
      <p>The beginning of Jeff and Krista's relationship wasn't your classic "Love at First Sight" kind of romance, no no. It began with the need for a wedding date.</p>

      <p>Jeff's friend Ryan was getting married, and Jeff needed a wedding date. So naturally, he looked to his friends for help. He went to a party at his friend Michelle Cajigal's house hoping to find a willing date to what he promised would be the best wedding ever. Turns out no one was really available and/or interested. Jeff couldn't believe it. Desperate, Jeff corners Michelle and another friend Brynn in the kitchen and asks if they could think of any of their friends that might go with him. Michelle and Brynn were stumped, they couldn't think of anyone off the top of their heads who would be willing to just randomly go to a wedding and be a fun date and not think anything more of it.</p>

      <p>Then, a light from the heavens shone down, and Jeff notices a photo on the refrigerator; it's a silly Christmas card from Krista and Shannon featuring them in their favorite sports gear (Krista naturally in Bulls apparel and Shannon in Cardinals garb).</p>

      <p>Note: the silly photo Christmas card had been a tradition Shannon and Krista had been practicing for a few years. Since they were single with no families and living together, they thought it was funny to send silly holiday cards featuring them doing stupid things. Little did Krista know she would land a husband from that frivolous tradition.</p>

      <p>So Jeff spots the card, and points to Krista and says "What about her?" Michelle and Brynn look at each other, and mutually agree that Krista would be a good option, in fact, a great option! Why hadn't they thought of her before?</p>

      <p>Flash forward to the next day. It was March 14, 2012. Krista remembers this date because a) the Bulls were playing the Miami Heat and it was a very exciting game in which the Bulls won and b) 14 is her lucky number. It's about 10pm and Krista is just walking in the door after a long day of work.  Her phone rings, and its Michelle. Krista and Michelle have been friends since the 5th grade, but they hadn't seen each other in a while. Happy to see her old friend calling, Krista picks up the phone and the conversation goes something like this:</p>

      <p><strong>Krista:</strong> Hey!! What's going on?? Long time no see!<br />
      <strong>Michelle:</strong> I know! How are you? What are you doing?<br />
      <strong>Krista:</strong> Good! I just got home from work I'm so happy I'm about to catch the end of the Bulls game.<br />
      <strong>Michelle:</strong> You should come here and watch the Bulls game! I'm at Sheffield's with a bunch of people. I have this guy I want you to meet, he's pretty cool... um... Do you like long hair?<br />
      <strong>Krista:</strong> Uhh, I guess I don't really have a preference either way? I don't know? How long is it?<br />
      <strong>Michelle:</strong> Oh it's not that long, he's not like a hippie or anything. But he's cool and he's going to this wedding that he needs a date for and I thought maybe you guys would hit it off. Anyways, just come out and see. I think you guys would have fun together. It wouldn't be anything serious.</p>

      <p>Now Krista wasn't super keen on the idea of being set up, but she was willing to grab a beer with her friend she hadn't seen in six months. So she agrees to meet up with them.</p>

      <p>Meanwhile, Michelle doesn't tell Jeff that Krista is coming. So Jeff just thinks he's hanging with his buddies watching the game having beers, nothing special.</p>

      <p>Krista was at Sheffield's maybe 20 minutes later. Michelle introduces them. Jeff, seemingly shocked, has nothing to say but a quiet "Hello" and then promptly retreats to the bar. Krista thinks he's cute- but is underwhelmed. Michelle giggles and informs her that she didn't tell Jeff that she was coming, so it probably took him off guard. Krista and Michelle then sit down at another end of the bar.</p>

      <p>About an hour later, Krista and Michelle are in the same spot when two young men approach them and sit down, with the obvious intention of picking up Michelle and Krista. It's not until this moment that Jeff resurfaces. Fueled by liquid courage and motivated by jealousy, Jeff approaches Krista and Michelle's bench and squeezes himself between the two, starring directly at the two young gentlemen. "What are we talking about?" he says, and then proceeds to join the conversation and demolish the two young suitors, dashing their hopes. They leave the table. Krista is a little impressed with his courage, but he's also pretty drunk, and so is she.</p>

      <p>Then there was some more drinking and talking, a bet was made that Jeff unfairly won, and Krista ended up doing a whisky shot because of it (Krista HATED whisky). At the end of the night Krista doesn't really know what to think, and assumes they would never see each other again.</p>

      <p>Though a few days later Jeff gets Krista's number from a friend and proceeds to start texting her. Krista is pretty shocked, she thought he wasn't interested and she didn't think she was either. He asks if she would go to the afore mentioned wedding with him, which is now in three days. Krista is willing to give Jeff a second chance, but she insists they meet up again to see if they even like each other. And if they do indeed get along, then she would consider going to the wedding. Jeff suggests they meet up at a place called Jake's the next night, and she agrees.</p>

      <p><%= image_tag('Roscoe.jpg', :alt => "Roscoe the Wingman", :width => '200', :class => 'paragraph_right' )%>Jake's is a neighborhood bar that is dog friendly. So on their date Jeff brings his best wingman to seal the deal- his dog Roscoe. Krista sees the white furry guy and immediately her heart melts. This guy can't be so bad; he's got this adorable furry little white dog! Jeff and Krista proceed to actually get to know each other, and they end up talking the night away. Jeff even walks Krista all the way home (which was over a mile). Krista agrees to go to the wedding with Jeff.</p>

      <p>At Ryan and Sarah's wedding, Jeff and Krista have an awesome time. They dance and laugh the night away, and come on, it's a wedding; so love was in the air.</p>

      <p>So what started as a "oh it will be just for fun, we're not looking for anything serious" turned into a very serious, very deep love and friendship. They have been inseparable ever since...and now Krista is a bourbon whiskey drinker.</p>

      <p>Big Thanks to Michelle Cajigal, Brynn Weimer, and Ryan and Sarah Steele for the assistance.</p>
    </div>
    <div class="col-md-3">
      <%= image_tag "jeffandkrista2.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista6.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista8.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista10.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista12.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "jeffandkrista14.jpg", {alt: 'Krista &amp; Jeff'} %><br />
      <%= image_tag "dogs.jpg", {alt: 'Roscoe &amp; Gilligan'} %>
    </div>
  </div>
</div>


<h3>About Krista</h3>
<div class='contentBg'>
<div class='row'>
  <div class="col-md-3">
    <%= image_tag "krista1.png", {alt: 'Krista'} %><br />
    <%= image_tag "krista3.jpg", {alt: 'Krista'} %><br />
    <%= image_tag "krista5.png", {alt: 'Krista'} %><br />
    <%= image_tag "krista7.jpg", {alt: 'Krista'} %><br />
  </div>
  <div class="col-md-6">
  <p>Krista was born to Michael and Mary Lou Krauss in Wheaton, Illinois on November 14, 1986. Defining her flair for the dramatic right at the start, Krista was an unplanned ‘surprise' making her the far youngest child in the Krauss family, with older brother Erich and big sister Heidi being 16 years and 12 years older than Krista, respectively.  Krista grew up in a small Chicago suburb called Wayne, and lived in the same house throughout her entire childhood.</p>

  <p>As a child, Krista loved entertaining people with her impressions, dance performances, and songs; which occasionally resulted in post Sunday mass performances over the PA system after pilfering the church's microphone. How could you blame her? The church goers were a captive audience.</p>

  <p>Krista found enjoyment in many activities in her youth. She studied dance, ice skating, theatre, flute and guitar. Dancing was Krista's first passion, and she competitively danced for about 8 years. When her dance studio started offering acting classes, Mary Lou knew she had to enroll Krista right away. It was then at the sweet age of maybe 8 years old that her love for theatre was born.</p>

  <p>In high school, Krista continued to overextend herself. She spent her years at Bartlett High School participating in: class council, choir, speech team, German Club, and the International Thespian Society, but her true passions were volleyball and drama. Krista played volleyball all four years including two years at the varsity level. She also participated in nearly all of the school plays and musicals, with highlights being playing Elizabeth in "The Crucible" her junior year and Annie Sullivan in "The Miracle Worker" her senior year. Her lowest (and funniest) moment came when she was performing as Truvy in "Steele Magnolias" and was stricken with a bloody nose right before she went onstage. Turns out that speaking in a horrible southern accent with tissues shoved up your nose results in about the least attractive sound a person can make. Despite some embarrassing performances, the summer before her senior year, Krista was accepted to the prestigious National High School Institute at Northwestern for Theatre Arts. So she spent her summer at Northwestern University, slumming it with other actors (who were fantastically talented and are far more successful then she is now) learning how to be a Mexican transvestite. It's a good thing mom and dad were open minded. So in case you couldn't tell, Krista was, and still is, an over achiever. And what do all good over achievers do? They give their high school commencement speeches. So to top off her high school career in 2005, Krista graduated in the top 10% of her class and spoke at her graduation.</p>

  <p>After high school Krista went on to college at Loyola University Chicago on academic and theatre scholarships. She again participated in every theatre production she could, with highlights being playing Phyllis in "The Blue Hour" and Thyona in "Big Love". Between her sophomore and junior years, Krista hopped the pond and studied abroad in Italy at Loyola's Rome campus. After that she spent about a month in her family's homeland, Germany. Krista graduated college in 2009 with dual degrees in Theatre and Communication, Magna Cum Laude.</p>

  <p>Since college Krista has remained a dedicated theatre artist. She has performed all over the Chicago area. Some of her favorite companies to work with are 13 Carat Productions, LiveWire Chicago, and Congo Square Theatre while some of her favorite stages have been The Art Institute, Strawdog Theatre and the Greenhouse Theatre.</p>

  <p>Combining her love for Chicago, her gift of gab, and her knack for warm Midwestern hospitality- Krista became a hotel concierge four years ago. She has spent the past three years at The James Chicago, where she couldn't be happier. Krista was recently promoted to Senior Concierge and has won Team Member of the Month twice. Krista has also managed to combine her love for theatre with her concierge profession. For the past two years she has served as Theatre Correspondent for Concierge Preferred Magazine. You can check out her monthly Chicago Theatre "Hot Picks" at <a href='http://www.conciergepreferred.com'>http://www.conciergepreferred.com</a>.</p>

  <p>Krista resides on the north side of Chicago with her boys: Jeff and their two dogs, Roscoe and Gilligan.</p>
  </div>

  <div class="col-md-3">
    <%= image_tag "krista2.jpg", {alt: 'Krista'} %><br />
    <%= image_tag "krista4.jpg", {alt: 'Krista'} %><br />
    <%= image_tag "krista6.jpg", {alt: 'Krista'} %><br />
    <%= image_tag "krista8.jpg", {alt: 'Krista'} %><br />
  </div>
</div>
</div>


<h3>About Jeff</h3>
<div class='contentBg'>
<div class='row'>
  <div class="col-md-3">
    <%= image_tag "jeff1.jpg", {alt: 'Jeff'} %><br />
    <%= image_tag "jeff3.jpg", {alt: 'Jeff'} %><br />
    <%= image_tag "jeff5.jpg", {alt: 'Jeff'} %><br />
  </div>

  <div class="col-md-6">
  <p>Jeff is the eldest of George and Colleen Miller’s four boys. Jeff was born in Council Bluffs, IA but quickly moved to Waverly, IA six months later where he lived for the rest of his childhood. Greg, Tim and Zach followed Jeff, rounding out the Miller Brothers. The Miller Brothers grew up working in the family business that his parents started: Miller True Value Hardware.</p>

  <p>When Jeff was growing up George and Colleen kept him busy with sports, outdoor activities and of course Boy Scouts. Jeff was very involved with scouting growing up, eventually leading Boy Scout groups to Philmont, Washington D.C. (twice), and eventually achieving the rank of Eagle Scout. Jeff reaching this level paved the way to all of his brothers becoming Eagle Scouts, a feat that is very rare and something that George and Colleen are very proud of.</p>

  <p>In school, Jeff participated in several sports including: basketball, baseball and tennis all while maintaining good grades. He participated and led several clubs such as Spanish Club, DECA, the stock market club, mock trial and math club. It was also at this time that Jeff started to develop his sense of style, wearing shorts nearly every single day of the four years he was in high school. But Jeff took school and learning seriously despite his wardrobe choice. Jeff was often building computers in his spare time, and fixing computers for friends and family. Eventually, Jeff would graduate high school in 2002 with a full ride scholarship to the University of Northern Iowa, which was a convenient 15 minutes away from home.</p>

  <p>As a freshman at UNI Jeff did well, and eventually decided to set out a little further from home.  Jeff transferred to the University of Wisconsin at Madison his sophomore year. Wisconsin holds very fond memories for Jeff. He loved Wisconsin and still enjoys traveling there when he can. Jeff graduated in 2006 with degrees in Computer Science and Theoretical Mathematics. It was also at Wisconsin where Jeff was introduced to the sport of skydiving. Between 2004 and 2008 Jeff was an avid skydiver; he jumped hundreds of times and participated in many competitions.</p>
  
  <p>In fact, Jeff loved (and still loves) competition. Upon graduation from the University of Wisconsin Jeff moved to the big city- Chicago. And it was his competitive spirit that drove him to enter the ESPN Ultimate Couch Potato Competition in 2009. The Ultimate Couch Potato Competition was essentially a competitive sitting competition where four competitors try to out-sit each other while watching non-stop sports. Jeff not only won the Chicago competition in 2008 and 2009, but in the 2010 competition Jeff not only won but he broke an ESPN Zone record and also unofficially broke the Guinness World Record by watching 72 hours of non-stop sports. He is also the only Ultimate Couch Potato competitor to win three years in a row. Because ESPN Zone is now closed, Jeff is the reigning Ultimate Couch Potato Champion and the unofficial World Record holder.</p>

  <p>Jeff now resides in Sheridan Park with Krista and their doggies. He currently works as a Software Engineer for Enova Financial and for a start-up company. When he's not working, he loves spending time with his friends, dogs and of course - Krista.</p>

  <p><a href='http://about.me/jeffmiller00' target="_blank">Other profiles for Jeff</a></p>
  </div>

  <div class="col-md-3">
    <%= image_tag "jeff2.jpg", {alt: 'Jeff'} %><br />
    <%= image_tag "jeff4.jpg", {alt: 'Jeff'} %><br />
    <%= image_tag "jeff6.jpg", {alt: 'Jeff'} %><br />
  </div>
</div>
</div>