<h3>Bridesmades</h3>
<div class='contentBg'>
<div class='row'>
  <div class='col-md-8'>
    <h4>Shannon Hollander. Maid of Honor.</h4>
    <h5>Los Angeles, California.</h5>
    <h6>Friends since freshman year of college.</h6>
    <p><strong><em>Shannon's favorite memories:</em></strong>
      <ol>
        <li>Coming home, to the apartment we shared in college on Columbia Avenue to find Ms. Krista Krauss out on the porch with a broom trying to shoo a rascally squirrel, or maybe it was bird, I'm not quite sure. But she was out on that porch like crazy woman calling for this animal only to try and smack it off the building. I think I peed laughing at her, and I took a picture.</li>
        <li>The time we rode the world's slowest rollercoaster in Las Vegas.</li>
        <li>Study break dance parties. In particular, the mix of Gold-digger, London Bridge, and Nelly.</li>
        <li>Surviving the snowpacalypse</li>
        <li>and making the world's greatest christmas card</li>
        <li>But really my favorite memories are the countless nights we spent watching trash TV, talking about boys, stupid classes, those crazy housewives, and helping Krista spell words. Specifically the night I came back from touring in Montana for 5 months. We watched "Say Yes to the Dress", drank sparkling wine with raspberries, and picked up like I was never gone.</li>
      </ol>
    </p>

    <p><strong><em>Best Friends: A Brief History, by Krista:</em></strong> Shannon and I met our freshman year of college in Michael Bassett's DSTP class. We both sat in the back and made snarky comments. One could say that our shared love for sarcastic humor is one of the mainstays of our relationship. We were also cast in a show together the first week of a freshman year, that fellow bridesmaid Katie was also in. So between class, the play, and Fresh Faces- Shannon and I became fast friends. We have just about the same taste in everything- except boys. Which is maybe why we have been friends for so long, because we never ever have fought over the same guy. Shannon and I became life partners when we moved in together our sophomore year. Since that year, we lived in three different apartments together over the course of 5+ years. Our steady progression towards single-cat-ladydom was halted when Shannon decided to make the move out west to LA. Though losing my roommate and life partner was tough, I couldn't be more proud of her. Shannon is perhaps the most driven, talented and humble person I have ever encountered, and I have nothing but confidence in her. I also fully expect to attend an Academy Awards ceremony with her one day (hint hint, Shannon). And if life doesn't work out quite like we have planned, there's always the basement. Lastly, I would really appreciate if Shannon wouldn't sink the ship on the day of the wedding, because I'm going to need you to keep mine afloat. Thanks.</p>
  </div>
  <%= image_tag "shannonandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Shannon'} %>
  </div>

<div class='row'>
  <%= image_tag "michelleandkrista.jpg", {class: 'col-md-1 wedding_party', alt: 'Michelle'} %>
  <div class='col-md-11'>
    <h4>Michelle Cajigal. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since grade school.</h6>
    <p><strong><em>Michelle's childhood memories:</em></strong> I recall the many sleepovers where we pushed each other into the unfiltered autumn pool, hung the contents of Krista's underwear drawer on trees while she was sleeping, and planned our punk-rock band Jubilee (none of us played any instruments, but logic be damned, we were in a band and had Liverpool accents). I'm sure these were all events spread out over the course of our childhoods and adolescences, but I prefer to remember that we did all those things EVERY time.</p>

    <p><strong><em>Krista's childhood memories:</em></strong> I remember meeting Michelle on the first day of 5th grade. She was the new girl, and I think I was the first one to talk to her. I don't remember how we became such good friends because it was nearly two decades ago, but I do remember why: because we could get real weird with each other and there was absolutely no judgment. Some of my favorite memories include:
    <ul>
      <li>Horny Toads.</li>
      <li>Moo, Oink and Meow.</li>
      <li>Learning the complete dance to Britney Spears' "Oops, I Did It Again" (and being proud that I still know all the dance moves).</li>
      <li>Our Miss Saigon duet in high school.</li>
      <li>Our journals that got us into trouble in middle school.</li>
      <li>Going to concerts of crappy bands.</li>
      <li>'Drag racing' in the Jeep.</li>
    </ul></p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Samantha Colonna. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since freshman year of high school.</h6>
    <p><strong><em>When asked to give her favorite memory of their relationship, Sam says:</em></strong> There are too many ridiculous memory's to choose from. We've parasailed in Cozumel together, been to Vegas (twice!), hit up Door County a few times and have done our fare share tromping around Chicago. I guess through it all Krista has never been afraid to be her beautiful self, even if it means putting on a crazy face for a photo or two. PS: Krista does the craziest raptor impression. Please request she do this on her wedding day!</p>

    <p><strong><em>Why we're friends, by Krista:</em></strong> Sam and I were brought together by our love of volleyball and theatre. I first met Sam when we were in middle school and participated in Bartlett High School's summer volleyball camp. I remember thinking Sam (who had gone to a private school) was so amazing at volleyball. We ended up on the same team that summer, and I was so excited to play with her. Sam named our team "Chicks Rule" which I thought was very cool. So I wanted to be friends with Sam because she was good at volleyball and she was cool. My wish came true later when we both earned spots on the Freshman A team (along with bridesmaids Haley and Amy). Turns out we shared a lot more than just volleyball and theatre; we both shared a love for sleepovers, Queen of the Damned (coughstuarttownsendsshoulderscough) and awkward moments. CHI TOWN RULS! PS: Sam, please bring your own ice bucket to my wedding reception, I don't think the Damm's will be able to provide you with one in case of an emergency. I'm so sorrryyyyy!</p>
  </div>
  <%= image_tag "kristaandsam.jpg", {class: 'col-md-4 wedding_party', alt: 'Samantha'} %>
</div>

<div class='row'>
  <%= image_tag "haleyandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Haley'} %>
  <div class='col-md-8'>
    <h4>Haley Damm. Bridesmaid.</h4>
    <h5>Honolulu, Hawaii.</h5>
    <h6>Friends since freshman year of high school.</h6>
    <p><strong><em>How Haley and Krista become best friends, by Haley:</em></strong> Freshman year of high school Krista and I met for the first time at volleyball tryouts. But it was probably two weeks into school before I knew we would be friends for life! I didn't know a lot of people when high school started so lunch time those first few weeks was very awkward. One day the mean girls at the lunch table I had chosen bullied me out of sitting with them and made me cry. When I finally got the courage to wipe the tears and resurface from the bathroom I headed to the lunchroom and started scanning around for people I knew. I made eye contact with Krista and she immediately motioned me over, not knowing what had happened. Right away she said "Are u ok girl?" And scooted over so I could sit with her. The tears were never mentioned again and Krista and I were pretty inseparable from that moment on. It was meant to be. :) We have always been the best and the worst influences of the group. It's just how we roll.</p>

    <p><strong><em>Special notes to Haley from Krista:</em></strong> Haley and I have a unique bond because we always know how to have a good time, and we try to let the little things slide. That being said, Haley, in an effort for you to enjoy my wedding as much as possible, I have a few special notes for you:
    <ul>
      <li>There will be no nudy poop shoots allowed.</li>
      <li>I tried to invite Carl the Jamaican bartender to the wedding; sadly he is unable to make it.</li>
      <li>Please try not to go rogue and get black foot.</li>
      <li>CHI TOWN RULS!</li>
      <li>There will be no sneaking of liquor onto the boat in backpacks.</li>
      <li>You will have to eat the food in front of you, there will be no sneaking into the kitchen for mozza sticks.</li>
      <li>I won't make you sing&hellip; probably.</li>
      <li>And the wedding will not end in a party in the barn.</li>
    </ul></p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Denise Donovan. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since 2010.</h6>
    <p><strong><em>How Denise and Krista met as told by Denise:</em></strong> Krista and I met at an audition for a play that was quite interesting.  It was the story of Ninjas, crossword puzzles, and fast food.  We were the only two females at the call-back so we assumed we were competing with one-another.  I remember thinking to myself "Shoot! Two blonde beauties with nice booties! This will be difficult, for Krista does have a bodacious backside." However, we were both cast and became great friends who shared many laughs. To this day, we have mutual respect for our booties and complement each other on them often.  I now live with Krista, Jeff, and their two illegitimate children, Roscoe and Gilligan.  However, I still look back on our single days as two actresses with brains and booty fondly.  Krista is an incredible friend and I am so happy to see her so happy. :) xoxoxoxo</p>

    <p><strong><em>How Denise and Krista met, as told by Krista:</em></strong> Denise and I met after college at an audition for a show about four years ago. We were the only two girls in a comedy about Ninjas and talking toasters. We quickly became friends because we both shared a love for ridiculous, awkward and over the top comedy. I love Denise because she is always the wild card; you just never know what she will say next. Though Denise's humor is sensationally and hilariously unpredictable, she is one of the most reliable and dependable people I know. If you ever need anything, Denise will be there for you in a heartbeat- no questions asked. Denise and I have been roommates for over two years, the last year we have shared with Jeff and his dog Roscoe (and recent addition, Gilligan). The five of us live happily on the north side of Chicago. Yes, their living situation is sort of sit-com-ey (Two Girls, a Guy, and Two Furry Monsters?) Krista loves Denise for loving the doggies as her own, and is glad she has grown into a "dog person". And she's really sorry about that one time Roscoe ate her favorite Lululemon pants. It's because he loves you!</p>
  </div>
  <%= image_tag "deniseandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Denise'} %>
</div>

<div class='row'>
  <%= image_tag "maggieandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Maggie'} %>
  <div class='col-md-8'>
    <h4>Maggie Fossum. Bridesmaid.</h4>
    <h5>San Diego, California.</h5>
    <h6>Friends since freshman year of high school.</h6>
    <p><strong><em>Maggie on friendship:</em></strong> Where do I start? Krista is one of my oldest and very dearest friends. From plays and sleepovers in high school to parties and finals preparation in college to traveling across the country for visits, she has always embodied the truest definition of a friend. Selfless, thoughtful, and absolutely hilarious, she effortlessly brightens everyone's day. I am genuinely humbled and honored to call her my friend and can't wait to celebrate her wedding day!!</p>

    <p><strong><em>Krista's first impression of Maggie:</em></strong> Maggie and I first met in our freshman English class. To be honest, she was pretty quiet, and new to the area, so I didn't take notice of her at first. We began studying "Romeo and Juliet" in class, and we would read it aloud. One day, Maggie volunteered to read for Juliet, and this was the first time I noticed her. She started going through Juliet's soliloquy and I was shocked. I remember thinking, "Holy cow she's amazing! And she's super hot! Who is this girl? I need to be friends with her immediately." The opportunity didn't come until a little while later when friend Amy introduced them. Amy knew Maggie from acting class and Krista from the volleyball team. Thus was the start to a beautiful friendship. Maggie and I were truly brought together by our love of theatre, and frequently performed together. We competed on speech team together (placing in every tournament we competed in), we played everything from famous enemies Abigail Williams and Elizabeth Proctor in "The Crucible" to historic best friends Annie Sullivan and Helen Keller in "The Miracle Worker". Maggie and I even attended college together where we continued to play in the theatre. We were lucky enough to play a lot of characters together, and thus learned a lot about ourselves and each other in the process. And even though Maggie has given me a black eye, I trust her with my life. Plus, if it wasn't for Maggie, I would have no embarrassing stories to tell as if they were my own, and I wouldn't know about my hidden gift to turkey gobble. We all miss Maggie since she has moved out west but it has given me a great excuse to escape the Chicago winters. And it doesn't matter how far away she lives- we will be best fwendsh fwoever- even though you suck a minigolf. #areyouwearingstripeduderwear?</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Amy Hummel. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since freshman year of high school.</h6>
    <p><strong><em>Amy on first impressions:</em></strong> Krista and I were not immediately friends, mostly because the first time I journeyed to her parents' house I was startled and alarmed by the wallpaper covering her room, and by wallpaper, I mean Creed posters. Scott Stapp was everywhere you looked. In response to what must have looked like a mixture of curiosity and fear, Krista said "Oh yes, I love Creed." Ya think!? But thankfully my music taste was not much better (N*sync 4 life!) and we have been friends ever since.</p>

    <p><strong><em>Krista on her and Amy's friendship:</em></strong> Amy and I became friends our freshman year of high school. We both were on the volleyball team and participated in theatre. Along with fellow bridesmaids Maggie, Haley, Jessica, and Sam, we formed the tightly knit "Crew" who were all bound together through the school drama department. Amy is often referred to as the glue of the crew, she keeps everyone together and I love her for that. I also love Amy because she is always there when you need her. Amy is one of the most generous and loving people that I know- just don't ever play beer pong against her, because you'll regret it. Amy might be one of the most supremely competitive people you will ever meet, but it's a part of her drive and ambition that people respect and admire. Also, Amy has given me one of the best gifts I have ever received: in college Amy gave me a mug with an old picture of the six of us from high school. The photo itself is really embarrassing, and to have it on a to go mug is amazing. Jeff loves carrying around 17 year old me on a mug.</p>
  </div>
  <%= image_tag "amyandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Amy'} %>
</div>

<div class='row'>
  <%= image_tag "katieandkrista.jpg", {class: 'col-md-2 wedding_party', alt: 'Katie'} %>
  <div class='col-md-10'>
    <h4>Katie Kasper. Bridesmaid.</h4>
    <h5>Los Angeles, California.</h5>
    <h6>Friends since freshman year of college.</h6>
    <p><strong><em>Katie Kasper on friendship and vacations:</em></strong> One winter day in Chicago 2010 Krista and I shared a cab home in which I said "Ugh, I want to get out of town" in some overly dramatic tone while staring out the window.  Krista replied "Yeah, me too" to which I immediately gave sideways glance and in effort to test her boundaries I said, "Like, I wanna get out of the country?" Krista without thought says "How about Mexico!" Finally I had a partner in crime. Needless to say within a week we were headed to an all-inclusive Mexican vacation. Here is a picture of the two of us with our favorite 'in pool' bartender, who is also wearing Krista's sunglasses&hellip;only in Mexico.</p>

    <p><strong><em>Krista's fun facts on her and Katie's friendship:</em></strong> 
    <ol>
      <li>Katie is the most talented person per square inch that I know. She is also the bendiest person I know.</li>
      <li>Katie and I lived together with Shannon and another college friend Kate our senior year of college.</li>
      <li>One of our post college jobs was flying through the air in a two story wine cellar in a restaurant called Texas de Brazil. A "wine angel" is the closet either of us will ever get to being actual angels.</li>
      <li>Katie hates the Chicago cold more than just about anything. While intoxicated one autumn night in college, Katie came home and made a to-do list, which included: returning books to the library, going to the grocery store, and dreading winter.</li>
      <li>It can be difficult to tell when Katie is joking and when she is serious. You should mostly assume she's joking.</li>
      <li>While single, Katie and I loved vacationing together as a couple. We have been to: Aruba, Cancun and the Wisconsin Dells- just to name a few.</li>
      <li>I love Katie's dry humor and her honesty.</li>
      <li>I also love that I can fit her into an overhead storage bin.</li>
    </ol></p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Heidi Kowal. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Sister.</h6>
    <p><strong><em>Heidi on having a little sister:</em></strong> When Krista was little, a lot of people thought she was my kid because she was so much younger. And our mom would always get really upset when someone assumed she was her grandmother!</p>

    <p><strong><em>Krista on being a little sister:</em></strong> Because my siblings were much older than I, it felt like I was an only child a lot of the time. They were off at college, or studying abroad, or living in the city- but when my sister and brother would come home, it was the best. I always looked forward to having them around, mostly so I could annoy them, or play games with them, or get them in trouble. But they had their fair share of laughs, too: I have a vivid childhood memory of my sister chasing me around the house with my father's prize catch- a giant stuffed tuna fish that normally hung on the wall above our bar. I was scared of the thing as a child, and I was so horrified by the sight of it up close in my sister's arms that I locked myself in my mother's closet until she came home. But, in her defense, I probably deserved it. So thanks Heidi, for putting up with your annoying little sister for all those years. Hopefully I am a less annoying adult.</p>
  </div>
  <%= image_tag "heidiandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Heidi'} %>
</div>

<div class='row'>
  <%= image_tag "jessicaandkrista.jpg", {class: 'col-md-4 wedding_party', alt: 'Jessica'} %>
  <div class='col-md-8'>
    <h4>Jessica Wrobel. Bridesmaid.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since freshman year of high school.</h6>
    <p><strong><em>What friends are for, by Jessica:</em></strong> Krista and I met in our freshman high school study hall.  Things in common? Bangs.  I can't speak to the evolution of out friendship from there because it happened so seamlessly and quickly over the next four years. But ever since then, Krista has been the most unselfish, giving friend a girl could ask for. Whether it was borrowing clothes from her closet (and sometimes not returning them all that clean) or throwing the bachelorette party of a lifetime and literally carrying the bride back to the hotel (not sure who THAT bride was), it's clear she would do anything for her friends and family. I'm so proud to be this beautiful girl's friend for over 12 years and now, her bridesmaid.</p>

    <p><strong><em>No, my name is not Jessica, by Krista:</em></strong> Jessica and I met in freshman year study hall, I was making bad decisions about boyfriends, and we were both making bad decisions about bangs. Like many of our high school friends, we were brought together by theatre. Though, Jessica and I both had sweet big bangs, and were approximately the same height and build- so we were often confused for one and other. Teachers got us confused, upper classmen got us confused, even our friends occasionally called us by the wrong name. And it didn't help that we were both born days apart from each other- we even shared a Sweet Sixteen birthday party (Indian Lakes was da best). But, truth be told, I was glad to be confused with you because it was like a compliment. I was happy to be mistaken for the effortlessly beautiful, intelligent and caring young lady known as Jessica. Plus it was nice to have someone my size to share clothes with, and have enough tolerance to laugh at the light weights.</p>
    </div>
  </div>
</div>
</div>

<h3>Groomsmen</h3>
<div class='contentBg'>
<div class='row'>
  <div class='col-md-8'>
    <h4>David Hanawalt. Best Man.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Friends since middle school.</h6>
    <p><strong><em>Dave's first memories of Jeff:</em></strong>
      My first memory of Jeff was at a 6th grade AAU basketball practice at the now demolished Irving Middle School in Waverly, Iowa.  I remember thinking "This guy seems pretty nice, and he plays REALLY hard.  Frequently he's out of control, but man he plays hard."  We got to know each other in Junior High and I always enjoyed going to his house, because it seemed to go on forever.  Jeff was building his own computer at the time and showing me a little about it.  I was very impressed, but remember thinking, "I'd rather be shooting hoops."  Then I recall working with him on a school project for our sophomore history class.  We were presenting on Watergate and spent several hours at the Miller household watching videos, reading, and compiling facts, until as late as 10PM on school nights! That was late for me.  The main conclusion we drew from our work: Nixon wasn't that bad of a guy. We each went our separate ways for college, but then reconnected in Chicago.  Since then we've spent time chasing girls (more than two years ago, of course) and exploring all that this great city has to offer.  Jeff is one of my most loyal friends who I can count on for just about anything.  I couldn't be happier he found a great girl like Krista.</p>
  </div>
  <%= image_tag "jeffanddave.jpg", {class: 'col-md-4 wedding_party', alt: 'Dave'} %>
</div>

<div class='row'>
  <%= image_tag "jeffandzach.jpg", {class: 'col-md-4 wedding_party', alt: 'Zach'} %>
  <div class='col-md-8'>
    <h4>Zach Miller. Best Man.</h4>
    <h5>Waverly, Iowa.</h5>
    <h6>Brother.</h6>
    <p><strong><em>Zach's favorite memories:</em></strong>
      First off, Jeff has always been my best friend. We were always hanging out together, playing video games or beating up on Greg and Tim in basketball (or any other sport). Secondly, when Jeff asked me to take senior pictures with him when he was a senior in high school, it made me really appreciate how close we were. And when I became a senior, he even came back from college to take my senior pictures with me. Lastly, my favorite memory of Krista and Jeff was the surprise birthday party that turned into a surprise engagement. It was by far the coolest thing I've seen, and somehow I knew it was going to happen. That night was the greatest night, even the birthday cake had Roscoe's face on it, making the family complete. Now they have added one more rascal to the family with the addition of Gilligan, and I am so happy for them both. Love you both.</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Tony Gamblin. Groomsman.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Met in 2009 via Dave.</h6>
    <p><strong><em>How Jeff and I met, (I think) by Tony:</em></strong>
      I met Jeff in 2011; the year I moved to Chicago to make it my home.  I met Jeff through Dave (Best man) who was a co-worker of mine. However, I cannot remember exactly the time nor the place that we met (it's up for debate) and I'm sure that's due to alcohol. Though I do remember thinking, "Hey, this guy is fun."  Fun was an understatement.  Six short months later Jeff came to my NYE party and ended up as the bouncer, kicking out people at the end of the night that either I simply did not know or could not get to leave... ha!  And there has never been a dull moment since.  He's the kind of friend who knows how to push your buttons and keep your cup filled.  I'll never forget the time we walked seven blocks to get to the Jewel so I could use the Coinstar machine with my $70 bag of coins; all the while Jeff was still in his walking boot following his ankle fracture.  When I think Jeff, I think of: Roscoe, Will's Northwoods, Prost, Roscoe, Mad River, Roscoe...</p>
  </div>
  <%= image_tag "jeffandtony.jpg", {class: 'col-md-4 wedding_party', alt: 'Tony'} %>
</div>

<div class='row'>
  <%= image_tag "jeffandandy.jpg", {class: 'col-md-4 wedding_party', alt: 'Andy'} %>
  <div class='col-md-8'>
    <h4>Andy Houston. Groomsman.</h4>
    <h5>Las Vegas, Nevada.</h5>
    <h6>Mentor gone wrong.</h6>
    <p><strong><em>Andy on why Jeff and Krista were meant to be:</em></strong>
      Jeff is someone I consider a best friend. I first met him a few years ago and we instantly bonded, and that bond hasn't been broken since. For the first year of our friendship, I witnessed Jeff date around a bit. He was never passed the point of being moderately interested in the people he was dating. Then two years ago, along came Krista. I was visiting Jeff from out of town right around St Patrick's Day. Jeff kept on talking about this new person he had met the weekend before. Over the course of the weekend I probably listened to stories about his interactions with her no less than a dozen times. This was different.  He had just met her, and he had a new sense of purpose. Jeff made up his mind after meeting Krista once that destiny was taking over and they would be a couple. He wasted no time inviting her to an upcoming wedding. Those of you who know Jeff know that he's clearly not a suit and tie kind of guy. Leaving no detail up to chance, I even remember Jeff insisting that I accompany him to a nearby tuxedo joint to help pick out a suit for the wedding.  I think it's quite appropriate that a wedding was one of their first dates. It's almost as if Jeff and Krista both knew where things were heading. Obviously things worked out, and the dapper suit may have had something to do with it. A big tip of the cap to Jeff for not letting Krista get away.  I'm proud to call Jeff my friend and I am thrilled that these two have found their soul mates. Congratulations Jeff and Krista!</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Nestor Kowal. Groomsman.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Future Brother-in-law.</h6>
    <p><strong><em>Nestor's favorite memories:</em></strong>
      Some of my fondest memories revolve around our trips to Door County - I remember sitting back, enjoying a cocktail and cigar, and discussing "family business". I knew there was something special about Jeff and Krista's relationship at that time, and I was brought to tears when Krista surprised Jeff for his birthday (followed quickly by Jeff surprising Krista).  I pray Jeff and Krista continue to grow together and support each other, and I hope to spend even more time together (we will need babysitters soon!).</p>
  </div>
  <%= image_tag "nestor.jpg", {class: 'col-md-4 wedding_party', alt: 'Nestor'} %>
</div>

<div class='row'>
  <%= image_tag "jeffandjoe.jpg", {class: 'col-md-4 wedding_party', alt: 'Joe'} %>
  <div class='col-md-8'>
    <h4>Joe Meginnes. Groomsman.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Met in 2013 via Amy.</h6>
    <p><strong><em>Joe's first impression of Jeff:</em></strong>
      Jeff and I met in 2012 when our girlfriends brought us together for a game night at the Miller/Krauss household.  My first impressions of Jeff included as follows:  "this dude loves to gamble," "if there's a problem/question/debate, he really goes all in to figure out the answer," and "I'm not sure if he will ever love anyone as much as his dog, Roscoe."  I'm proud to report that my first impressions were accurate -- except for the last one.  I've hung out with Jeff many times since that first evening, and his words and actions make it abundantly clear that his love for Krista is limitless.  I respect the way he constantly steps up and supports her.
      <br /><br />
      My favorite memory -- or really, memories -- of Jeff are when something manly needs to be done around the girls and he immediately steps in and does it, saving me the embarrassment of revealing that I have no idea what I'm doing.  Jeff is also just about the best guy to have at your side when you want to BS about sports, work, etc. over a few drinks. We've shared some laughs at a friend's lake house, had our minds read by a very dapper magician, and dined at some of the best restaurants in Chicago, and I look forward to becoming even closer friends in the future.  Congratulations Jeff and Krista!</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Greg Miller. Groomsman.</h4>
    <h5>Waverly, Iowa.</h5>
    <h6>Brother.</h6>
    <p><strong><em>Greg on having an older brother:</em></strong>
      My older brother Jeff has always been an inspiration to me. Jeff is a very outgoing person; watching him be involved with so many friends influenced me to strive to be outgoing as well. After Jeff went off to college, he still stayed in touch and invited me to hang out. When Jeff was at the University of Wisconsin he invited me to Wisconsin football games and the memories of weekends we spent in Madison have made me a lifelong Badgers fan. My Favorite times that we have spent together were the weekends at Badger games, our trip to the NCAA National Championship Basketball game, and spending time in Chicago, of course! Jeff has been a great older brother, and his effect on me and my life is irreplaceable. My wife Shaunda and I look forward to making more memories with Jeff and Krista. I am very honored to be a part of Jeff and Krista’s big day.</p>
  </div>
  <%= image_tag "jeffandgreg.jpg", {class: 'col-md-4 wedding_party', alt: 'Greg'} %>
</div>

<div class='row'>
  <%= image_tag "jeffandtimm.jpg", {class: 'col-md-4 wedding_party', alt: 'Tim'} %>
  <div class='col-md-8'>
    <h4>Tim Miller. Groomsman.</h4>
    <h5>Waverly, Iowa.</h5>
    <h6>Brother.</h6>
    <p><strong><em>A New Year's to Remember, by Tim:</em></strong>
      Two New Year's Eves ago, Krista offered for me to accompany her and Jeff to the Playboy New Year's Eve Party in Chicago. How could I say no? Not only did we think it would be a great way to celebrate the New Year, but we also thought it would be the perfect time to celebrate Jeff recently completing physical rehab after tearing his ACL (and Krista ending her term as his personal nurse, caretaker and chauffeur). When the night arrived, we were all suited up with our bow ties and ready for a good time. As predicted, we had the time of our lives! At the end of the night, the taxi dropped us off at home. We were walking up to the house and all of a sudden, Jeff went down. He had slipped on some ice. Jeff started wailing in pain and agony. Krista and I assumed he was being a drama queen, and carried him into the house thinking he would be fine the next day. The next morning came and we all realized that his ankle was not in fact okay, so off to the Emergency Room we went. Turns out his ankle was shattered. In less than a month, Jeff found himself back on the couch and Krista found herself back to being his personal lifesaver. Thanks again Krista for everything you've done for our friend and brother, Jeff. I love you guys!!!</p>
  </div>
</div>

<div class='row' style="display: none">
  <div class='col-md-8'>
    <h4>Tim Wienckowski. Groomsman.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Met 2012 via Sam.</h6>
    <p><strong><em>Two Words: Wizard Quest. By Tim:</em></strong>
      I met Krista and Jeff a few years back through Samantha Colonna. I believe Jeff was recovering from a torn ACL from a basketball game. Actually, I think I've known Jeff on crutches longer than off them. I'm going to assume they met in a hospital. My favorite memory with Jeff was at Sam and Jessica Wrobel's wedding in the Wisconsin Dells. Jeff and I as dates of the wedding party and some other wedding guests needed something to occupy ourselves with during the day while the bridal party was getting ready, so we ventured into town set for adventure. After walking the strip not seeing anything that wasn't a complete waste of time, we set our eyes on- Wizard Quest! In the Quest, we had to navigate a labyrinth of clues and riddles to find and free the four imprisoned wizards from the evil Havoc. No one realized how much fun we were in for. Secret passages, tunnels, ogre farts, this place had it all. We were all so proud we had saved the day that it was just about all anyone could talk about at the wedding, and everyone else looked at us like we were nuts&hellip; we may have been nuts&hellip;</p>
    </div>
  <%= image_tag "jeffandtimw.jpg", {class: 'col-md-4 wedding_party', alt: 'Tim'} %>
</div>
</div>

<h3>Ushers</h3>
<div class='contentBg'>
<div class='row'>
  <div class='col-md-8'>
    <h4>Ryan Peters. Usher.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Bride's friend since high school.</h6>
    <p>As an usher -- literally the person in charge of protecting your life at the wedding and making sure that you don't upset a lifetime of careful social and professional planning and humiliate yourself by sitting on the wrong side of the aisle -- you know I'm a man of honesty and integrity. And so you know you can trust me when I tell you that these are indisputable facts I know about Krista:

    <ol>
      <li>She loved, and possibly still loves, the band Creed. Her affection for Jeff is no doubt deep, but pales in comparison to the shockwaves of desire and lust that Scott Stapp's psuedo-christian lyrics produced for Krista.</li>
      <li>She once told me that "Alter Bridge is actually a pretty good band." The fact that Jeff looks past #1 &amp; 2 speaks to his kind, forgiving heart.</li>
      <li>Krista has the best laugh of anyone I've ever known. And I don't mean that in a weepy, sentimental "Her laugh lights up the rooms of my heart!" sense. I mean that Krista literally has the loudest, happiest laugh of any human I have ever met.</li>
      <li>I've known Krista since we auditioned for the same play in high school, and she's been an extraordinary friend ever since. She's kind, compassionate, loud and fun. She throws incredible backyard parties, and mixes strong bourbon drinks.</li>
    </ol></p>

    <p>And these are undeniably true things I can say about Jeff:

    <ol>
      <li>I knew I liked him the first time we met, because the first time we met he was screaming across a bar at someone about the Bulls. I knew right away, "We're going to see eye-to-eye on a lot."</li>
      <li>Jeff tore his ACL a few months after we first met, and then a few months later I think he broke his foot or stepped on a grenade. The person I've known to use crutches more frequently than Jeff is myself. What I'm saying is, Jeff is copying me in every way.</li>
      <li>Jeff, like Krista, hosts and throws the best parties. I once attended a party at Jeff and Krista's house along with 4 other people. So, 7 people in total. When I walked in, Jeff had three handles of bourbon out and said to me, "In case we need them." That's a man who is living life the right away.</li>
      <li>Jeff is a wonderful match for Krista -- a sweet, honest, loud and awesome guy that loves the hell out of her.</li>
    </ol></p>

    <p>I can't wait to watch these two get married, and to be the first one out of the church if a fire breaks out.</p>
  </div>
  <%= image_tag "kristaandryan.jpg", {class: 'col-md-4 wedding_party', alt: 'Ryan'} %>
</div>

<div class='row'>
  <%= image_tag "kristaandpatrick.jpg", {class: 'col-md-4 wedding_party', alt: 'Patrick'} %>
  <div class='col-md-8'>
    <h4>Patrick T. Murphy. Usher.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Bride's friend since college.</h6>
    <p>Krista is an all time favorite of mine. She was one of the first folks I met and acted with while studying theatre at Loyola. We worked on many plays together, from staged readings to foul-mouthed David Mamet plays to plays about zoophilia. It was incredible. Krista is one of the closest ladies in my life, one that's always reliable and honest. She's also always giving me free tickets to plays which is awesome. I remember the first time she told me about Jeff, at Bacci's Pizza, right before seeing one of these plays. I never seen her like that. I also always remember though, that after I sang some Frank Sinatra to her, she asked me, "Pat Murphy, will you sing at my wedding?" I said, "Hell yes." Krista, I will sing at your wedding... from my table. Love ya.</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Sam Wrobel. Usher.</h4>
    <h5>Chicago, Illinois.</h5>
    <h6>Bride's friend since high school.</h6>
    <p>I have had the pleasure of knowing Krista for the better part of twelve years. With shared interests in theatre, sports and being amazing, there have been many a sparkling wine fueled conversation over these twelve years, which have gone by so very fast. After high school, Krista and I kept in touch as she championed a campaign to find me a gal pal. Surprisingly, she ended up being right under her nose all along, in bridesmaid Jessica Wrobel. Now married, Jessica and I enjoy a friendship with Krista founded individually, built together and now enriched by her partnership with Jeff. We have enjoyed and look forward to many more exciting experiences with the newly-minted Mr. &amp; Mrs.!</p>
  </div>
  <%= image_tag "kristaandsamw.jpg", {class: 'col-md-4 wedding_party', alt: 'Sam'} %>
</div>
</div>

<h3>Flower girls &amp; Ring Bearers</h3>
<div class='contentBg'>
<div class='row'>
  <%= image_tag "lindseyandjulia.jpg", {class: 'col-md-4 wedding_party', alt: 'Lindsey and Julia'} %>
  <div class='col-md-8'>
    <h4>Lindsey and Julia. Flower girls.</h4>
    <p>Lindsey and Julia are really looking forward to dressing up as princesses in Aunt Krista and Uncle Jeff's wedding. Though they have only met Uncle Jeff once, it doesn't really matter when you get to be the star of the show for a day. Big sister Lindsey is sure she can teach little sis Julia how to property act like a princess (which hopefully involves actually getting Julia to walk down the aisle).They are especially looking forward to busting moves on the dance floor with their brother, Colin.</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <h4>Hayden and Max. Ring Bearers.</h4>
    <p>Hayden and Max are pretty excited to be a part of Aunt Krista and Uncle Jeff's wedding. Despite the fact that they frequently got Jeff confused for Krista's "other boyfriends" at the beginning, Hayden and Max have grown really fond of Jeff. Hayden and Max really like having diving contests in the Krauss pool and competing in go kart races with Jeff and Krista. They always want to be on Jeff's team, because he allllways wins. Though they are looking forward to the wedding, they are not looking forward to watching Aunt Krista and Uncle Jeff kiss. Ew.</p>
  </div>
  <%= image_tag "haydenandmax.jpg", {class: 'col-md-4 wedding_party', alt: 'Hayden and Max'} %>
</div>
<br /><br />
<div class='row'>
  <%= image_tag "camandwil1.jpg", {class: 'col-md-4 wedding_party', alt: 'Cam and Wil'} %>
  <div class='col-md-4'>
    <h4>Cam and Wil. Ring Bearers.</h4>
    <p>Cam and Wil are typical Iowa farm boys who are very excited to see the big city and a big city wedding. The boys are Jeff's second cousins. They have had a lot of fun playing with and getting to know Krista and Jeff at Greg and Shaunda's wedding last year and at Krista and Jeff's wedding shower in Iowa. They look forward to spending their first visit to Chicago with Krista, Jeff and all their family. Cam is looking forward to actually making it down the aisle on the big day. He got a little shy during Greg and Shaunda's wedding and didn't quite make it- but we hear the second time is the charm! :)</p>
  </div>
  <%= image_tag "camandwil2.jpg", {class: 'col-md-4 wedding_party', alt: 'Cam and Wil'} %>
</div>