<ul class="nav nav-pills nav-justified">
  <li><%= link_to 'Home', root_path, title: 'Home' %></li>
  <li><%= link_to 'Our Story', our_story_path, title: 'Our Story' %></li>
  <li><%= link_to 'The Proposal', proposal_path, title: 'The Proposal' %></li>
  <li><%= link_to 'Wedding Party', wedding_party_path, title: 'Wedding Party' %></li>
  <li><%= link_to 'Events', events_path, title: 'Wedding Events' %></li>
  <li><%= link_to 'Accommodations', accommodations_path, title: 'Accommodations' %></li>
  <li><%= link_to 'RSVP', go_rsvp_path, title: 'RSVP' %></li>
  <li><%= link_to 'Guestbook', guestbook_path, title: 'Guestbook' %></li>
  <li><%= link_to 'Registries', registries_path, title: 'Registries' %></li>
</ul>